<style>
  body{
    font-family: 'Courier New', monospace;
    font-weight: normal;
  }
  th {
    text-align: left;
  }
  .top {
    padding-top: 20px;
  }
</style>

<h1>SUBJECT: <%= @id_string%> Poll Question</h1>

<table>
  <tr><th class="top">Date:</th> <td class="top"><%= @submission.created_at.strftime("%b %-d, %Y")%></td></tr>
  <tr><th>Time:</th> <td> <%= @submission.created_at.strftime("%I:%M%p")%></td></tr>
  <tr><th>Name:</th> <td> <%= @submission.name %></td></tr>
  <tr><th>Display Name:</th> <td> <%= @submission.display_name%></td></tr>
  <tr><th>E-mail:</th> <td> <%= @submission.email_address %></td></tr>
  <tr><th>City:</th> <td> <%= @submission.city %></td></tr>
  <tr><th>State:</th> <td> <%= @submission.state %></td></tr>
  <tr><th>Phone:</th> <td> <%= @submission.phone %></td></tr>
  <tr><th>Consent to use name:</th> <td> <%= @submission.consent ? "Yes" : "No" %></td></tr>

  <tr><th>Question:</th> <td></td></tr>
</table>
<p><%= @submission.question %></p>

